@use "../utils" as utils;
// ==========================================================================
// GLOBAL STYLES
// ==========================================================================

// Global utilities and base styles
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Neutral-Black);  
    background-color: rgb(255, 230, 0);
}